<!-- ******CONTACT****** -->
<section id="contact" class="contact section has-pattern {% if include.expand %}flex-fill{% endif %}">
    <div class="container">

        <div class="contact-inner">

            <h2 class="title  text-center">Contact Us</h2>
            <p>
                For queries relating to collaborating with the RSE team on projects: <a href="mailto:rse@sheffield.ac.uk">rse@sheffield.ac.uk</a>
            </p>

            <p>
                To contact the <a href="/contact/team">RSE team</a> about seminars, training or JADE: <a href="mailto:rse-team-group@sheffield.ac.uk">rse-team-group@sheffield.ac.uk</a>
            </p>

            <p>
                Join our mailing list so as to be notified when we advertise talks and workshops by 
                <a href="https://groups.google.com/a/sheffield.ac.uk/g/rse-group">subscribing to this Google Group</a>.
            </p>

            <p>
		Queries regarding free research computing support/guidance should be raised via our <a href="/support/code-clinic/">Code clinic</a> or 
		directed to the <a href="https://www.sheffield.ac.uk/nap/service/redirect/helpdesks">University IT helpdesk</a>.
            </p>

        </div><!--//contact-inner-->
    </div><!--//container-->
</section><!--//contact-->
