<!-- ******CONTACT****** -->
<section id="contact" class="contact section has-pattern {% if include.expand %}flex-fill{% endif %}">
    <div class="container">

        <div class="contact-inner">

            <h2 class="title  text-center">Contact Us</h2>
            <p>
                For queries relating to RSE service: <a href="mailto:rse@sheffield.ac.uk">rse@sheffield.ac.uk</a>
            </p>

            <p>
                To contact the <a href="http://localhost:4000/contact/team">RSE team </a> (about seminars or training or JADE): <a href="mailto:rse-team-group@sheffield.ac.uk">rse-team-group@sheffield.ac.uk</a>

            </p>

            <p>
                Note: Queries about requests for free coding support should be raised via the code clinic or one of the universities help boards such as HPC@sheffield.ac.uk
            </p>


        </div><!--//contact-inner-->
    </div><!--//container-->
</section><!--//contact-->