{% assign event=include.event %}
{% assign categoryInfo = site.data.event-categories["default"] %}
{% if site.data.event-categories[event.category] %}
    {% assign categoryInfo = site.data.event-categories[event.category] %}
{% endif %}
<div class="media mb-2 event-item" data-date="{{ event.date | date: "%F" }}{% if event.to %}{{event.to | date: " %H:%M:%S"}}{% endif %}">
    <div class="mr-2 text-center">
        <img src="{{ categoryInfo.image }}" alt="{{ categoryInfo.text }}"/>
        <p style="font-size: 0.8em; width: 80px" >
            {{ categoryInfo.text }}
        </p>
    </div>
    <div class="media-body">
        <h6 class="mt-0"><a href="{{ event.url }}">{{ event.title }}</a></h6>


        <div class="media mb-1">
            <img class="align-self-center mr-2" src="/assets/images/icons/icons8-watch-50.png" width="20" alt="Start time"/>
            <div class="media-body"><strong>{{ event.date | date: "%-d %B %Y" }}  {% if event.end-date %} to {{ event.end-date | date: "%-d %B %Y" }}{% endif %} - {{ event.from}}{% if event.to %}-{{event.to}}{% endif %}</strong></div>
        </div>
        {% if event.location %}
        <div class="media mb-1">
            <img class="align-self-center mr-2" src="/assets/images/icons/icons8-marker-50.png" width="20" alt="Location"/>
            <div class="media-body"><strong>{{ event.location }}</strong></div>
        </div>
        {% endif %}

        {% if event.speaker %}
        <div class="media mb-1">
            <img class="align-self-center mr-2" src="/assets/images/icons/icons8-communication-skill-50.png" width="20" alt="Speaker"/>
            <div class="media-body"><strong>{{event.speaker}}{%if event.institute%}, {{event.institute}}{%endif%}</strong></div>
        </div>
        {% endif %}
    </div>
</div>
