{% assign event=include.event %}
{% case event.category %}
    {% when 'seminar' %}
        {% assign evtImg = "/assets/images/icons/icons8-training-50.png" %}
        {% assign evtType = "Seminar" %}
    {% when 'dltraining' %}
        {% assign evtImg = "/assets/images/icons/icons8-connect-50.png" %}
        {% assign evtType = "Workshop" %}
    {% when 'candc' %}
        {% assign evtImg = "/assets/images/icons/icons8-cafe-50.png" %}
        {% assign evtType = "Coffe <br/>&amp; Cake" %}
    {% else %}
        {% assign evtImg = "/assets/images/icons/icons8-schedule-50.png" %}
        {% assign evtType = "Event" %}
{% endcase %}
<div class="media mb-2 event-item" data-date="{{ event.date }}">
    <div class="mr-2 text-center">
        <img src="{{ evtImg }}" alt="Seminars"/>
        <p style="font-size: 0.8em; width: 80px" >
            {{ evtType }}
        </p>
    </div>
    <div class="media-body">
        <h6 class="mt-0"><a href="{{ event.url }}">{{ event.title }}</a></h6>


        <div class="media mb-1">
            <img class="align-self-center mr-2" src="/assets/images/icons/icons8-watch-50.png" width="20"/>
            <div class="media-body"><strong>{{ event.date | date: "%-d %B %Y" }} - {{ event.from}}-{{event.to}}</strong></div>
        </div>
        {% if event.location %}
        <div class="media mb-1">
            <img class="align-self-center mr-2" src="/assets/images/icons/icons8-marker-50.png" width="20"/>
            <div class="media-body"><strong>{{ event.location }}</strong></div>
        </div>
        {% endif %}
    </div>
</div>