{% assign current_date = site.time | date: '%F' | date: '%s' %}
{% assign events = site.events | sort: "date" %}
<div class="event-listing event-upcoming">
{% for event in events %}
    {% assign event_date = event.date | date: '%s' %}
    {% if event_date >= current_date %}
        {% if include.category %}
        {% assign categories = include.category | split: "," %}
        {% for category in categories %}
            {% if category == event.category %}
            {% include events_list_item.html event=event %}
            {% endif %}
        {% endfor %}
        {% else %}
        {% include events_list_item.html event=event %}
        {% endif %}
    {% endif %}
{% endfor %}
</div>
