<div class="p-3 bg-white rounded border">
  <p class="text-muted mb-3">
    This tabs lists the University of Sheffield activities led by members of the RSE team or where they have been involved. This can be workshops, committee roles, panels, training, etc.
  </p>
  
  <hr class="my-3">

  <div id="others-container">
     {% assign external_list = site.evidences | where: "relative_path", "_evidences/external.yml" | first %}

     {% for activity in external_list.items %}
        <div class="row no-gutters mb-3 pb-2 border-bottom align-items-center paginated-external">
           <div class="col-12 col-lg-9 pr-lg-3">
             <div class="d-flex align-items-center flex-wrap">
  
              {% if activity.year and activity.member == nil %} 
                <span class="text-danger">
                  --{{ activity.year }}--
                </span>
              {% endif %}

             <h4 class="h6 text-primary mb-0 font-weight-bold mr-2">
               {{ activity.title }}
             </h4>

             {% case activity.type %}
                {% when "role" %}
                  <span class="badge badge-light px-2 py-1 border small"><i class="fas fa-solid fa-user mr-1 text-success"></i>Role</span>
                {% when "committee" %}
                  <span class="badge badge-light px-2 py-1 border small"><i class="fas fa-solid fa-users mr-1 text-primary"></i>Committee</span>
                {% when "Invite" %}
                  <span class="badge badge-light px-2 py-1 border small"><i class="fas fa-solid fa-envelope mr-1 text-danger"></i>Invited contribution</span>  
                {% when "seminar" %}
                  <span class="badge badge-light px-2 py-1 border small"><i class="fas fa-solid fa-comment mr-1 text-primary"></i>Seminar</span> 
                {% when "report" %}
                  <span class="badge badge-light px-2 py-1 border small"><i class="fas fa-solid fa-file mr-1 text-primary"></i>Report</span>    
              {% endcase %}
            </div>

            <div class="mt-1">
              {% if activity.member %}
              <span class="small text-muted citation-authors">
                {{ activity.member }},
              </span>
              {% endif %}


              {% if activity.date and activity.member != nil %} 
                <span class="small text-success">
                  <em>{{ activity.date }},</em>
                </span>
              {% endif %}

              {% if activity.details %}
                <span class="small text-muted">
                {{ activity.details }}
                </span>
              {% endif %}
            </div>

        </div>

        <div class="col-12 col-lg-3 text-lg-right pt-2 pt-lg-0 citation-actions">
          {% if activity.url %}
            <a href="{{ activity.url }}" target="_blank" class="btn btn-outline-dark btn-sm mb-2" rel="noopener noreferrer">
              <i class="fas fa-external-link-alt mr-1"></i>
              {{activity.url_name}}
            </a>
          {% endif %}
        </div>
      </div>
  {% endfor %}
  </div>

  <div class="d-flex justify-content-center mt-4">
    <button id="prev-btn-external" class="btn btn-sm btn-outline-primary mr-2">Previous</button>
    <span id="page-info-external" class="align-self-center small mx-2"></span>
    <button id="next-btn-external" class="btn btn-sm btn-outline-primary ml-2">Next</button>
  </div>

</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    initPagination(
      '.paginated-external',    // itemClass
      'prev-btn-external',     // prevBtn
      'next-btn-external',     // nextBtn
      'page-info-external',    // pagetext
      11                     // itemsPerPage
    );
  });
</script>
