<div class="p-3 bg-white rounded border">
  <p class="text-muted mb-3">
    This tabs list the contribution of the team that do not fit in any of the other tabs.
  </p>
  
  <hr class="mb-3">
  
  {% assign others_list = site.evidences | where: "relative_path", "_evidences/others.yml" | first %}

  {% for activity in others_list.items %}
      <div class="row no-gutters mb-3 pb-1 border-bottom">
         <div class="col-12 col-lg-9 pr-lg-3">

           <h4 class="h5 text-primary mb-1 font-weight-bold">
             {{ activity.title }}
           </h4>

         <div class="mb-3">

         {% case activity.type %}
            {% when "award" %}
              <span class="badge badge-light p-2 border mr-2"><i class="fas fa-solid fa-award mr-1 text-success"></i>Award</span>
            {% when "other" %}
              <span class="badge badge-light p-2 border mr-2"><i class="fas fa-solid fa-chess-board mr-1 text-primary"></i>Other</span>
          {% endcase %}

          <span class="mb-2 text-muted citation-authors">
            {{ activity.member }}, {{ activity.date }}, {{activity.details}}
          </span>

        </div>
      </div>

     <div class="col-12 col-lg-3 text-lg-right pt-2 pt-lg-0 citation-actions">
        {% if activity.url1 %}
          <a href="{{ activity.url1}}" target="_blank" class="btn btn-outline-dark btn-sm mb-2" rel="noopener noreferrer">
            <i class="fas fa-external-link-alt mr-1"></i>
            {{activity.url1_name}}
          </a>
        {% endif %}

        {% if activity.url2 %}
          <span class="mb-2 text-muted citation-authors">
          <a href="{{ activity.url2 }}" class="btn btn-outline-dark btn-sm mb-2" target="_blank">
            <i class="fas fa-external-link-alt mr-1"></i>
            {{activity.url2_name}}
          </a>
          </span>
        {% endif %}

     </div>

    </div>

  {% endfor %}

</div>
