<div class="navbar-collapse collapse" id="navbar-collapse">
    <ul class="nav navbar-nav">
        {% for lv1 in site.data.navigation %}
        <li class="nav-item {% if lv1.subitems %}dropdown{% endif %}">
            <a class="nav-link {% if lv1.subitems %}dropdown-toggle{% endif %}" {% if lv1.subitems %}data-toggle="dropdown"{% endif %} href="{% if lv1.url %}{{ lv1.url }}{% else %}#{% endif %}">{{ lv1.title }}</a>
            {% if lv1.subitems %}
            <div class="dropdown-menu">
                {% for lv2 in lv1.subitems %}
                <a class="dropdown-item" href="{% if lv2.url %}{{ lv2.url }}{% else %}#{% endif %}">
                    {{ lv2.title }}
                </a>
                {% endfor %}
            </div>
            {% endif %}
        </li>

        {% endfor %}
    </ul>
</div><!--//navbar-collapse-->