{% assign newsletter = include.newsletter %}

<div class="media mb-2 event-item" data-date="{{ newsletter.date }}">

    <div class="media-body">
        <h6 class="mt-0"><a href="{{ newsletter.url }}">{{ newsletter.title }}</a></h6>

        {% if newsletter.editor %}
        <div class="media mb-1">
            <img class="align-self-center mr-2" src="/assets/images/icons/icons8-person-50.png" width="20" alt="Posted By"/>
            <div class="media-body"><strong>Edited by {{ newsletter.editor }}</strong></div>
        </div>
        {% endif %}

        {% if newsletter.date %}
        <div class="media mb-1">
            <img class="align-self-center mr-2" src="/assets/images/icons/icons8-watch-50.png" width="20" alt="Date"/>
            <div class="media-body"><strong>{{ newsletter.date | date: "%-d %B %Y" }}</strong></div>
        </div>
        {% endif %}

    </div>
</div>