{% assign post = include.post %}

<div class="media mb-2 event-item" data-date="{{ post.date }}">

    <div class="media-body">
        <h6 class="mt-0"><a href="{{ post.url }}">{{ post.title }}</a></h6>

        {% if post.author %}
        <div class="media mb-1">
            <img class="align-self-center mr-2" src="/assets/images/icons/icons8-person-50.png" width="20" alt="Posted By"/>
            <div class="media-body"><strong>{{ post.author }}</strong></div>
        </div>
        {% endif %}

        {% if post.date %}
        <div class="media mb-1">
            <img class="align-self-center mr-2" src="/assets/images/icons/icons8-watch-50.png" width="20" alt="Date"/>
            <div class="media-body"><strong>{{ post.date | date: "%-d %B %Y" }}</strong></div>
        </div>
        {% endif %}

    </div>
</div>