/* 
 * Custom CSS Rules for the RSE Sheffield website. 
 * Separate from the theme rules in-case we change theme
 */

/*
    Bootstrap breakpoints for reference:
    xs 
    sm @media (min-width:576px)
    md @media (min-width:768px)
    lg @media (min-width:992px)
    xl @media (min-width:1200px)
*/

.seminar-section {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
}

/* Make all images behave fluidly by default. I.e. not wider than their parent with a maintained aspect ratio. */
img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 768px) and (max-width: 991px){
    .promo .intro {
        font-size: 18px;
    }
}

/* Visually distinguish past events.*/
.event-item-previous a {
    color: #656565;
}
.event-item-previous > div >img {
    opacity: 0.40;
}


/*
 * Table styling rules from boostrap4, applied to table elements. This would be better if we used a css preprocessor / less duplication. This is a simple copy-paste-modify so the rules are automatically applied. from bootstrap 4.1.2 
 * Bootstrap v4.1.2 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
table th,
table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
table tbody + tbody {
  border-top: 2px solid #dee2e6;
}
table table {
  background-color: #fff;
}
table {
  border: 1px solid #dee2e6;
}
table th,
table td {
  border: 1px solid #dee2e6;
}
table thead th,
table thead td {
  border-bottom-width: 2px;
}
table tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}
table thead th {
  color: #fff;
  background-color: #212529;
  border-color: #32383e;
}
@media print {
  table {
    border-collapse: collapse !important;
  }
  table td,
  table th {
    background-color: #fff !important;
  }
  table th,
  table td {
    border: 1px solid #dee2e6 !important;
  }
  table thead th {
    color: inherit;
    border-color: #dee2e6;
  }
}
