/* 
 * Custom CSS Rules for the RSE Sheffield website. 
 * Separate from the theme rules in-case we change theme
 */

/*
    Bootstrap breakpoints for reference:
    xs 
    sm @media (min-width:576px)
    md @media (min-width:768px)
    lg @media (min-width:992px)
    xl @media (min-width:1200px)
*/

.seminar-section {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
}

/* Make all images behave fluidly by default. I.e. not wider than their parent with a maintained aspect ratio. */
img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 768px) and (max-width: 991px){
    .promo .intro {
        font-size: 18px;
    }
}

/* Visually distinguish past events.*/
.event-item-previous a {
    color: #656565;
}
.event-item-previous > div >img {
    opacity: 0.40;
}

figcaption {
    font-style: italic;
    font-weight: bold;
    font-size: small;
}


/* Extra custom styling for pre / code blocks */
pre {
    background-color: #282a36;
    padding: 1em;
    margin: 0 0 1em 0;
    border-radius: 0.4em;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: #f8f8f2;
    font-family: monospace;
    hyphens: none;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;

}

.highlight {
    border-radius: 0.4em;
}

pre.highlight{
    line-height: 1.5;
}
