/* 
 * Custom CSS Rules for the RSE Sheffield website. 
 * Separate from the theme rules in-case we change theme
 */

/*
    Bootstrap breakpoints for reference:
    xs 
    sm @media (min-width:576px)
    md @media (min-width:768px)
    lg @media (min-width:992px)
    xl @media (min-width:1200px)
*/

@font-face {
    font-family: uos-sans;
    src: url('../fonts/SourceSansPro-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: uos-serif;
    src: url('../fonts/SourceSerifPro-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }

.header{
    background-color: #fff;
}

.promo{
    background: #005A8F;
}

.footer{
    background: #131E29;
}

/* Sizes for h1 to h6, overriding bootstrap css */
h1, .h1 { font-size: 2.5rem; }
h2, .h2 { font-size: 2rem; }
h3, .h3 { font-size: 1.75rem; }
h4, .h4 { font-size: 1.5rem; }
h5, .h5 { font-size: 1.25rem; }
h6, .h6 { font-size: 1rem; }

h1, h2, h3, h4, h5, h6  {
    color: #005A8F;
}

a {
    color: #005A8F;
}

.nav-link{
    color: #131E29 !important;
}

.contact {
    background: #005A8F;
}

.contact-inner a {
    color: #fff;
    text-decoration: underline;
}

.contact-inner h2 {
    color: #fff !important;
}

.seminar-section {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
}

/* Make all images behave fluidly by default. I.e. not wider than their parent with a maintained aspect ratio. */
img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 768px) and (max-width: 991px){
    .promo .intro {
        font-size: 18px;
    }
}

/* Visually distinguish past events.*/
.event-item-previous a {
    color: #656565;
}
.event-item-previous > div >img {
    opacity: 0.40;
}

figcaption {
    font-style: italic;
    font-weight: bold;
    font-size: small;
}

/* Style Pagination of Blogposts */
.pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    margin-bottom: 0px;
    background-color: #ffffff;
    display: inline-block;
}
.pagination a:hover {
    background-color: #f1f1f1;
    text-decoration: none;
}
.pagination a {
    cursor: pointer;
}
.pagination {
    text-align: center;
}
/* Adjust heading sizes for blog-excerpts */
.blog-excerpt h1, .blog-excerpt .h1 { font-size: 2rem; }
.blog-excerpt h2, .blog-excerpt .h2 { font-size: 1.75rem; }
.blog-excerpt h3, .blog-excerpt .h3 { font-size: 1.5rem; }
.blog-excerpt h4, .blog-excerpt .h4 { font-size: 1.25rem; }
.blog-excerpt h5, .blog-excerpt .h5 { font-size: 1rem; }
.blog-excerpt h6, .blog-excerpt .h6 { font-size: 1rem; } /* No h7 to steal a size from */

 hr.blog-post-seperator {
  width: 50%; /*Differentiate hr, to those used within markdown/blog posts*/
  border-top: 2px solid;
  margin-top: 32px; /*2 rem, double end of paragraph*/
  margin-bottom: 32px;
}
div.pagination-wrapper {
  justify-content: center;
  flex-flow:row wrap;
  display: flex;
}
div.all-posts {
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 16px; /*1 rem, same as end of paragraph*/
}

/* Extra custom styling for pre / code blocks */
pre {
    background-color: #282a36;
    padding: 1em;
    margin: 0 0 1em 0;
    border-radius: 0.4em;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: #f8f8f2;
    font-family: monospace;
    hyphens: none;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;

}

.highlight {
    border-radius: 0.4em;
}

pre.highlight{
    line-height: 1.5;
}


/* Custom blockquote styling */
blockquote {
    margin: 0 0 1rem 0;
    padding: 0 1rem;
    color: #6a6a6a;
    border-left: .3rem solid #6a6a6a;
}

/* optionally make .btn's wrap text */ 
.btn-wrap {
    white-space: normal;
}

.sm-a {
    color: #fff;
    text-decoration: underline;
}

.sm-a:hover{
    color: #e2e2e2;
}

/* project page tag cloud */
a.tag-link.selected, a.filter-link.selected{
    font-weight: bold;
}
