---
layout: page
---


<div class="row">

    <div class="col-9">
        {{ content }}
    </div>
    <div class="col-3">
        <iframe src="https://calendar.google.com/calendar/b/1/embed?title=RSE%20Code%20Clinic%20Calendar&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=600&amp;wkst=2&amp;bgcolor=%23ccffff&amp;src=sheffield.ac.uk_28d0d6953rcq30teo2rapepho0%40group.calendar.google.com&amp;color=%238C500B&amp;ctz=Europe%2FLondon" style="border-width:0" width="400" height="600" frameborder="0" scrolling="no"></iframe>
    </div>

</div>

