<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ site.title }} {% if page.title %} - {{ page.title }}{% endif %}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.excerpt | strip_html | truncatewords: 50 }}">
    <meta name="author" content="{{ page.author }}">

    <meta property="description" content="{{ page.excerpt | strip_html | truncatewords: 50 }}">
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    {% if page.image.path %}<meta property="og:image" content="{{ site.url }}{{ page.image.path }}" />
    {% else %}<meta property="og:image" content="{{ site.url }}{{ site.logo }}" />{% endif %}


    <meta name="twitter:card" content="{{ site.twitter.card }}" />
    <meta name="twitter:site" content="@{{ site.twitter.username }}" />
    <meta name="twitter:creator" content="@{{ site.twitter.username }}" />

    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- FontAwesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="/assets/css/theme-3.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/custom.css" />
    <!-- GitHub Button -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    {% feed_meta %}
</head>

<body data-spy="scroll" class="d-flex flex-column">

<!-- ******HEADER****** -->
<header id="header" class="header navbar navbar-inverse fixed-top">
    <div class="container">
        <h1 class="logo float-left">
            <a href="/">
                <span class="logo-title">
                    <img src="/assets/images/rse-logoonly-stroke-50.png" width="45" alt="Research Software Engineering Sheffield" />
                </span>
            </a>
        </h1><!--//logo-->
        <nav id="main-nav" class="main-nav navbar-expand-lg float-right" role="navigation">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button><!--//nav-toggle-->

            {% include navigation.html %}

        </nav><!--//main-nav-->
    </div>
</header><!--//header-->

{{ content }}





<!-- ******FOOTER****** -->
<footer class="section footer">
    <div class="container text-center">
        <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
        <small class="copyright">Designed with <i class="fas fa-heart"></i> by <a href="https://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
    </div><!--//container-->
</footer><!--//footer-->




<!-- Javascript -->
<script type="text/javascript" src="/assets/plugins/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/assets/plugins/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/assets/plugins/popper.min.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="/assets/plugins/moment-with-locales.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>


</body>
</html>
