---
layout: default
---

<section class="section offset-header flex-fill" >
    <div class="container">
        <div class="row">
            <div class="col-12" markdown=1>
                <section id="seminar-{{include.event.date}}" class="seminar-section">

                    

                    <h3>{{ page.title }}</h3>



                    <div class="media mb-1">
                        <img class="align-self-center mr-2" src="/assets/images/icons/icons8-watch-50.png" width="20" alt="Date"/>
                        <div class="media-body"><strong>{{ page.date | date: "%-d %B %Y" }}  {% if page.end-date %} to {{ page.end-date | date: "%-d %B %Y" }}{% endif %}{% if page.from %} - {{page.from}}{% endif %}{% if page.to %}-{{page.to}}{% endif %}</strong></div>
                    </div>
                    {% if page.location %}
                    <div class="media mb-1">
                        <img class="align-self-center mr-2" src="/assets/images/icons/icons8-marker-50.png" width="20" alt="Location"/>
                        <div class="media-body"><strong>{{ page.location }}</strong></div>
                    </div>
                    {% endif %}

                    {% if page.speaker %}
                    <div class="media mb-1">
                        <img class="align-self-center mr-2" src="/assets/images/icons/icons8-communication-skill-50.png" width="20" alt="Speaker"/>
                        <div class="media-body"><strong>{{page.speaker}}{%if page.institute%}, {{page.institute}}{%endif%}</strong></div>
                    </div>
                    {% endif %}

                    <p style="font-style: italic">All of our events may be recorded and shared via the <a href="https://digitalmedia.sheffield.ac.uk/">University of Sheffield Kaltura platform</a> so those who cannot attend may still benefit. We will consider your attendance implict consent to this.</p>

                    {{ content }}


                    {% if page.slides_url %}
                    <p>
                        <a href="{{page.slides_url}}">SLIDES</a>
                    </p>
                    {% endif %}

                    {% if page.image %}
                    <figure class="text-center">
                        <img src="{{page.image}}" class="img-fluid w-50" />
                    </figure>
                    {% endif %}

                </section>
            </div>
        </div>
    </div>
</section>

{% include contact.html %}
