---
layout: default
---

<!-- ******PROMO****** -->
<section id="promo" class="promo section offset-header">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-4 text-center">
                <img src="/assets/images/logo/rse-logoonly-stroke.png" height="150px" width="150px" alt="RSE hero element"/>                
            </div>
            <div class="col-sm-8 justify-content-center align-self-center">
                <h1 style="color: white">
                    University of Sheffield <br>Research Software Engineering
                </h1>                
		<p>Supported by the <a class="sm-a" href="https://www.sheffield.ac.uk/cs">School of Computer Science</a>, <a class="sm-a" href="https://www.sheffield.ac.uk/departments/it-services">IT Services</a> and the <a class="sm-a" href="https://www.sheffield.ac.uk/mps">School of Mathematical and Physical Sciences</a>.</p>        
            </div>
        </div>
    </div>
    <!--//container-->
    <div class="container">
        <div class="row mt-3 mb-3 justify-content-center align-self-center">
            <div class="w-100 text-center">                    
                <p>
                    The Research Software Engineering Team collaborates with researchers over all areas of University of Sheffield research, and is a hub for the RSE community.
                </p>          
            </div>
        </div>
        <div class="row mt-3 mb-3">
           <div class="col-md text-center">
                <h2 style="color: white">Projects</h2>
                <p><a class="sm-a" href="mailto:rse@sheffield.ac.uk">Add fractional RSE time from the team to your funding application <br> (email rse@sheffield.ac.uk).</a></p>
            </div>


            <div class="col-md text-center">
                <h2 style="color: white">FAIR<sup>2</sup> for research software</h2>
                <p><a class="sm-a" href="/training/fair4rs">Dedicated training on how to apply FAIR principles to research software, enabling you to make your research more open.</a></p>
            </div>            

	    <div class="col-md text-center">
		<h2 style="color: white">Code Clinics</h2>
		<p><a class="sm-a" href="/support/code-clinic">Work with an expert for 30 mins on your code.</a></p>
	    </div>

        </div>
        <div class="row mt-3 mb-3">
            <div class="col-md text-center">
                <h2 style="color: white">Community</h2>
                <p>Connect with us and researchers who code on <a class="sm-a" href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2F127.0.0.1%3A4000%2F&ref_src=twsrc%5Etfw%7Ctwcamp%5Ebuttonembed%7Ctwterm%5Efollow%7Ctwgr%5ERSE_Sheffield&region=follow_link&screen_name=RSE_Sheffield">Twitter</a>, 
                    <a class="sm-a" href="/community/slack">Slack</a>, 
                    <a class="sm-a" href="https://github.com/orgs/RSE-Sheffield">GitHub</a> or the RSE Community 
                    <a class="sm-a" href="https://groups.google.com/a/sheffield.ac.uk/g/rse-group">mailing list</a>.</p>
            </div>
        </div>
    </div>
</section>
<!--//promo-->

<section class="section">
    <div class="container">
        <br />
        <div class="row">
            <div class="col-md-6">
                <h2><a href="/newsletters/">Newsletters</a></h2>
                <br />
                {% include newsletters_latest.html %}
                <p>
                    <a href="/newsletters/">Previous newsletters >></a>
                </p>
                <hr />

                <h2><a href="/blog/">Blog</a></h2>
                <br />
                {% include post_list_prev10.html %}

                <p>
                    <a href="/blog/">All blog articles >></a>
                </p>

            </div>

            <div class="col-md-6">
                {% include events_list_top10.html %}

                <p>
                    <a href="/events/">All of our upcoming and previous events >></a>
                </p>
            </div>

        </div>
    </div>
</section>


{% include contact.html %}
